{{>varhome}}
        {{>messages}}

<div class="conainer p-2">
    <div class="row g-0">

         <div class="col-lg-5 mt-5 d-flex flex-column rounded-circle"
            style="background-color:
            rgba(11, 105, 228, 0.11); width: 500px; margin-right: 150px;
            margin-left: 50px;">
            <img src="/img/undraw_cup_of_tea_6nqg.svg" class="d-block
                w-100" style="border-radius: 50px;">
        </div>

        <div class="col-lg-5 mt-5" style="background-color: rgb(23, 77, 192);
            border-radius: 1px;">
            <form class="p-5 text-light" action="/login" method="POST">
                <div class="mb-3 mt-3">
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                    <input type="email" class="form-control" name="gmail"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">
                        <h8 class="text-light">
                            Nunca compartiremos tu
                            correo electrónico con cualquier otra persona.
                        </h8></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">contraseña</label>
                    <input type="password" class="form-control" name="password"
                        id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" >Iniciar</button>
                </div>
                <div class="d-grid gap-2 mt-4">
                  <a class="link-light btn-lg " href="/signup" style="border: none; font-size: 14px;">
            Crear unacuenta en  Digitized
        <i class="fas fa-seedling"></i></a>

                </div>

            </form>
        </div>

    </div>
</div>
