
<head>
    <link rel="stylesheet" href="/css/componentes.css">
</head>

<body>
    {{>varhome}}
  {{>messages}}
    <div class="divsing">
        <div class="row g-0">
            <div class="col form">
                <form class="formSing" action="/signup" method="POST">

                    <div class="row mb-3">
                        <label class="form-label">Nombres
                            y apellidos</label>
                        <div class="col" style="background-color: rgb(220, 224,
                            224);">
                            <input type="text" class="form-control"
                                name="nombres"
                                placeholder="Nombres completos" autofocus>
                        </div>
                        <div class="col" style="background-color: rgb(220, 224,
                            224);">
                            <input type="text" class="form-control"
                                name="apellidos"
                                placeholder="Apellidos completos"
                                aria-label="Last
                                name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="exampleInputPassword1" class="form-label">Usuario
                            y contraseña</label>
                        <div class="col" style="background-color: rgb(220, 224,
                            224);">
                            <input type="text" class="form-control"
                                name="pk_user"
                                placeholder="Usuario">
                        </div>
                        <div class="col" style="background-color: rgb(220, 224,
                            224);">
                            <input type="password" class="form-control"
                                name="password"
                                placeholder="Contraseña" aria-label="Last
                                name">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gmail</label>
                        <input type="text" class="form-control" name="gmail"
                            placeholder="gmail@gmail.com"
                            id="exampleInputPassword1">
                    </div>

                    <div class="row mb-3">
                        <label for="exampleInputPassword1" class="form-label">Otros
                            datos</label>

                        <div class="col" style="background-color: rgb(220, 224,
                            224);">
                            <select id="combox-singup" class="form-select box"
                                aria-label="Default select example"
                                name="ciudad">
                                <option selected>--Selecion de provincia--</option>
                            </select>
                        </div>
                        <div class="col" style="background-color: rgb(220, 224,
                            224);">
                            <input type="text" name="edad" class="form-control"
                                placeholder="Edad" aria-label="Last
                                name">
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary"
                            >Registrar</button>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <a class="link-light btn-lg" href="/login"
                            style="color: black; font-size: 14px;">
                            ¿Ya tienes un cuenta?
                            <i class="fas fa-seedling"></i>
                            Inicia sesion aqui.</a>
                    </div>

                </form>
            </div>

            <div class="col imagen">
                <img src="/img/undraw_healthy_lifestyle_6tyl.svg" class="img">
            </div>


        </div>
    </div>

</body>
