.layout {
    margin-left: 10px;
    margin-bottom: 10px;
}

.col-lg-5.grafico {
    background-color: rgba(45, 94, 255, 0.151);
    height: 470px;
    width: 600px;
}

.col-lg-5.map {
    padding: 5px;
    margin-left: 10px;
    width: 710px;
    background-color: rgba(45, 94, 255, 0.151);
    align-items: center;
    text-align: center;
    justify-content: center;
}


.chartdiv {
    margin-top: 35px;
    font-size: 12px;
    height: 370px;
}

.chartdiv-barr,
.chartdiv-line {
    margin: 0%;
    font-size: 12px;
    height: 450px;
}

label {
    font-size: 13px;
    margin-left: 420px;
    margin-top: 10px;
}

.form-select.box {
    font-size: 12px;
    width: 150px;
    margin-left: 420px;
    margin-bottom: 10px;
}

.conainer.p-2 {
    background-color: blue;
    text-align: center;
    align-items: center;
}

.divtitles {
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    background-color: rgb(241, 241, 241);
    text-align: start;
    width: 400px;
    position: absolute;
    z-index: 2;
}

.maps {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.title,
.sub-title,
.data,
.referencias {
    margin: 0%;
}

.maps,
.referencias {
    text-align: end;
    font-size: 11px;
}

.title {
    font-size: 20px;
    color: rgb(145, 59, 226);
    text-decoration: none;
}