.col {
    border-radius: 1px;
    background-color: rgba(235, 235, 235, 0.74);
}

.img {
    background-color: rgba(11, 105, 228, 0.801);
    border-radius: 100%;
    text-align-last: center;
    width: 550px;
    margin: 25px;
}

.col.imagen {
    text-align: center;
}

.formSing {
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 55px;
    display: block;
    padding: 40px;
    background-color: rgb(220, 224, 224);
}


/**
componentes sing up------------------------
*/