body {
    padding: 2px;
    font-family: 'Spartan', sans-serif;
}

* {
    transition: 0.1s;
}

.messages {
    position: absolute;
    z-index: 2;
    left: 5%;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proform {
    margin-top: 40px;
    width: 700px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(45, 94, 255, 0.151);
}