<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto APP</title>
        {{>headerlinks}}

    </head>
    <body style="width: auto; height: auto;">

        {{{ body }}}


        
        {{>scriptlinks}}

    </body>
</html>