{{!--fuentes para los textos--}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap"
    rel="stylesheet">
{{!--boostrap--}}
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
{{!-iconos--
}}
<script src="https://kit.fontawesome.com/ce2603a54e.js"
    crossorigin="anonymous"></script>
{{!-estilos propios--
}}
<link rel="stylesheet" href="/css/general.css">