<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="btn btn-outline-primary m-2" href="#">Digitized <i class="fas
                fa-seedling"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item m-2">

                    <a class="btn btn-outline-primary p-15" aria-current="page"
                        href="#">Contactos</a>
                </li>

                <li class="nav-item m-2">
                    <a class="btn btn-outline-primary" href="#">Redes</a>
                </li>

            </ul>

            <a class="btn btn-outline-success" href="/login">Iniciar</a>
        </div>
    </div>
</nav>