 {{>messages}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
        <a class="btn btn-outline-primary m-2" href="/centroApp">Digitized <i
                class="fas
                fa-seedling"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item m-2">

                    <a class="btn btn-outline-primary p-15" aria-current="page"
                        href="#">Contactos</a>
                </li>

                <li class="nav-item m-2">
                    <a class="btn btn-outline-primary" href="#">Redes</a>
                </li>

            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item m-2">
                    <form action="/profile/:id" method="post">
                        <input type="text"  name="id" value="{{user.id}}" style="display: none;" >

                        <button class="btn btn-outline-success">{{user.nombres}}
                            <i class="fas fa-user"></i></button>
                    </form>


                </li>
                <li class="nav-item m-2">
                    <a href="/salir" class="btn btn-outline-dark"><i class="fas
                            fa-sign-out-alt"></i> Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>