<div class="text-light d-grid" style="text-align: center;
    background-color: rgb(23, 77, 192); border-radius: 5px;">

    
  <a class="btn btn-outline-light  " href="/home" style="border: none; ">
    <h2 style="font-size: 19px;" class="m-2">Digitized <i
            class="fas
            fa-seedling"></i>
            </h2>
            </i></a>

   
  </div>