 {{>navegacion}}
        {{>messages}}

<div class="conainer">
    <div class="row g-0 mt-5">
        <div class="col-lg-7 d-flex flex-column rounded-circle mt-4"
            style="background-color:
            rgba(11, 69, 228, 0.185); width: 500px; margin-right: 150px;
            margin-left: 50px;">
            <img src="/img/undraw_healthy_options_sdo3.svg" class="d-block
                w-100" alt="...">
        </div>

        <div class="col-lg-5 px-lg-3" style="background-color: rgb(23, 77,
            192);">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 text-light">
                <h2 class="font-weight-bold" style="font-size: 19px;
                    font-weight: bold;">¿Qué es lo que dá sentido a Digitized<i
                        class="fas fa-seedling" style="font-size: 25px;"></i>?
                </h2>
            </div>
            <div class="px-lg-4 text-light">
                <h5 style="font-size: 20px;">Desde nuestro punto de vista es
                    asegurarnos que la tecnología y la vida se complemente entre
                    sí. Teniendo en cuenta que ambas son una constante
                    evolución. Por lo tanto, nuestro objetivo no es retrodocer,
                    mas bien, avanzar con pasos pequeños dándole hincapié en
                    busca a nuestra realización, proporcionando equilibrio a
                    quienes no encuentran esa estabilidad. Eso y mucho más nos
                    hace parte como ser humano y parte en Digitized.
                </h5>
            </div>

            <div class="p-4 text-light">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-light" href="/signup">Comenzar</a>
                </div>

            </div>
        </div>
    </div>
</div>