<head>
    <link rel="stylesheet" href="/css/centroControl.css">
    <script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body onload="render()">
    {{>varcontrol}}


    <div class="layout">
        <div class="row g-0 mt-2">
            <div class="col-lg-5 grafico">
                <div class="divtitles" style="margin: 5px; margin-top: 10px;">
                    <a class="title" id="popover" tabindex="0" href="#">Aplicaciones</a>
                    <h6 class="sub-title">Uso de apps más usadas en porcentajes
                        a nivel nacional</h6>

                </div>
                <form name="form_reloj" >
                    <div>
                        <label>Provincias</label>
                        <select id="combox-singup" class="form-select box"
                            aria-label="Default select example"
                            onchange="renderCiudad()">
                            <option value="nulo" selected>--General--</option>
                        </select>
                    </div>
               
                    <div id="chartdiv" class="chartdiv"></div>
                </form>
            </div>

            <div class="col-lg-5 map">
                <div class="maps">
                    <div class="divtitles">
                        {{>popovers}}
                        <h6 class="sub-title">Uso excesivo de los teléfonos
                            celular</h6>
                        <h7 class="data">Datos: Ciudad-horas-uso</h7>
                    </div>

                    <div id="geochart-colors">
                    </div>
                    <h4 class="referencias">Mapa de Jhoan Dorado creado con
                        <a href="https://developers.google.com/chart/">Google
                            Charts</a>
                    </h4>
                </div>
            </div>

        </div>
        <div class="row g-0 mt-2">
            <div class="col-lg-5 grafico">
                <div id="chartdiv-barra" class="chartdiv-barr"></div>
            </div>

            <div class="col-lg-5 map">
                <div id="chartdiv-line" class="chartdiv-line"></div>
            </div>

        </div>
       
        <!-- Resources AmChart -->

        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/material.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <!-- my scripts from proyecto-->
        <script src="/js/graficos.js"></script>
        <script src="/js/map.js"></script>
    </body>