{{>varcontrol}}
{{#each data }}
<div class="profile">

    <div class="col-lg-5 proform">
        <div class="row g-0 mt-2">
            <div class="col mb-3">
                <label for="disabledTextInput" class="form-label">Nombres</label>
                <input type="text" id="disabledTextInput" class="form-control"
                    value="{{nombres}}">
            </div>
            <div class="col mb-3" style="margin-left: 10px;">
                <label for="disabledTextInput" class="form-label">Apellidos</label>
                <input type="text" id="disabledTextInput" class="form-control"
                    value="{{apellidos}}">
            </div>
        </div>
        <div class="row g-0 mt-2">
            <div class="col mb-3" >
                <label for="disabledTextInput" class="form-label">Usuario</label>
                <input type="text" id="disabledTextInput" class="form-control"
                    value="{{pk_user}}">
            </div>
            <div class="col mb-3" style=" margin-left: 20px;">
                <label for="disabledTextInput" class="form-label" style="width: 55px;">Edad</label>
                <input type="text" id="disabledTextInput" class="form-control"
                    value="{{edad}}" style="width: 55px;">
            </div>
        </div>

        <div class="row g-0 mt-2">
            <div class="col mb-3">
                <label for="disabledTextInput" class="form-label">Ciudad</label>
                <input type="text" id="disabledTextInput" class="form-control"
                    value="{{ciudad}}">
            </div>
            <div class="col mb-3" style="margin-left: 10px;">
                <label for="disabledTextInput" class="form-label">Region</label>
                <input type="text" id="disabledTextInput" class="form-control"
                    value="{{region}}">
            </div>
        </div>
 <div class="d-grid gap-2">
                        <button class="btn btn-primary"
                            >Aceptar</button>
                    </div>
    </div>

</div>

{{/each}}
